In [4]:
import pandas as pd
data =  {'Text':['Hello, how are you?','Pandas is great!','Text data Handling in Python is useful']}  # creating a DataFrame having Text as values
df = pd.DataFrame(data)
df

                                     Text
0                     Hello, how are you?
1                        Pandas is great!
2  Text data Handling in Python is useful

In [6]:
df['lower'] = df['Text'].str.lower()  #  adding col and convert it into lowercase.
df

,Text,lower
0,"Hello, how are you?","hello, how are you?"
1,Pandas is great!,pandas is great!
2,Text data Handling in Python is useful,text data handling in python is useful

In [7]:
df['upper'] = df['Text'].str.upper()
df

,Text,lower,upper
0,"Hello, how are you?","hello, how are you?","HELLO, HOW ARE YOU?"
1,Pandas is great!,pandas is great!,PANDAS IS GREAT!
2,Text data Handling in Python is useful,text data handling in python is useful,TEXT DATA HANDLING IN PYTHON IS USEFUL

In [9]:
df['Length'] = df['Text'].str.len()  # add col and find the length of Text.
df

,Text,lower,upper,Length
0,"Hello, how are you?","hello, how are you?","HELLO, HOW ARE YOU?",19
1,Pandas is great!,pandas is great!,PANDAS IS GREAT!,16
2,Text data Handling in Python is useful,text data handling in python is useful,TEXT DATA HANDLING IN PYTHON IS USEFUL,38

In [10]:
df['Words']=df['Text'].str.split()  # split the text using split function and also add col.
df

,Text,lower,upper,Length,Words
0,"Hello, how are you?","hello, how are you?","HELLO, HOW ARE YOU?",19,"[Hello,, how, are, you?]"
1,Pandas is great!,pandas is great!,PANDAS IS GREAT!,16,"[Pandas, is, great!]"
2,Text data Handling in Python is useful,text data handling in python is useful,TEXT DATA HANDLING IN PYTHON IS USEFUL,38,"[Text, data, Handling, in, Python, is, useful]"

In [13]:
df['Text'][2]  # extract a particular text

'Text data Handling in Python is useful'

In [15]:
df['Text'][2].startswith('P')  # if we want to check the text with some particular value then we can use startswith here starting text is T .

False

In [16]:
df['Text'][1].startswith('P')

True

In [4]:
import pandas as pd
data1 =  {'Text':['Hello, how are you?','Pandas is great!','Text data Handling in Python is useful']}  # creating a DataFrame having Text as values
df2 = pd.DataFrame(data1)
df2

                                     Text
0                     Hello, how are you?
1                        Pandas is great!
2  Text data Handling in Python is useful

In [5]:
df2['P_words']=df2['Text'].str.split().apply(lambda x: [word for word in x if word.startswith('P')])  #x is treat as list of values in col Words word is particular value in list. apply function is use to apply lambda function to each row 
df2

                                     Text   P_words
0                     Hello, how are you?        []
1                        Pandas is great!  [Pandas]
2  Text data Handling in Python is useful  [Python]

In [7]:
df2['n_words']=df2['Text'].str.split().apply(lambda x: [word for word in x if word.endswith('n')])  #x is treat as list of values in col Words word is particular value in list. apply function is use to apply lambda function to each row 
df2

                                     Text   P_words       n_words
0                     Hello, how are you?        []            []
1                        Pandas is great!  [Pandas]            []
2  Text data Handling in Python is useful  [Python]  [in, Python]

In [8]:
new_data = {'Text':[None],'P_words':[None],'n_words':[None]}
new_df = pd.DataFrame(new_data)
new_df

   Text P_words n_words
0  None    None    None

In [9]:
df2 = pd.concat([df2,new_df])

In [21]:
df2

,index,Text,P_words,n_words
0,0,"Hello, how are you?",[],[]
1,1,Pandas is great!,[Pandas],[]
2,2,Text data Handling in Python is useful,[Python],"[in, Python]"
3,0,No text availale,No text availale,No text availale

In [11]:
df2.reset_index(inplace=True)

In [20]:
df2.reset_index(drop=True,inplace=True)

In [36]:
df2.drop([4,5,6],inplace=True)

In [14]:
df2

   index                                    Text   P_words       n_words
0      0                     Hello, how are you?        []            []
1      1                        Pandas is great!  [Pandas]            []
2      2  Text data Handling in Python is useful  [Python]  [in, Python]
3      0                                    None      None          None

In [15]:
df2.fillna('No text availale',inplace=True)
df2

,index,Text,P_words,n_words
0,0,"Hello, how are you?",[],[]
1,1,Pandas is great!,[Pandas],[]
2,2,Text data Handling in Python is useful,[Python],"[in, Python]"
3,0,No text availale,No text availale,No text availale

In [ ]:
df2.drop_duplicates(subset= 'Text') #here column Text is pass as subset. subset helps to focus on specific columns for duplicate removal.

In [22]:
#how to normalize the text.
df2['Normalized'] = df2['Text'].str.lower()
df2

,index,Text,P_words,n_words,Normalized
0,0,"Hello, how are you?",[],[],"hello, how are you?"
1,1,Pandas is great!,[Pandas],[],pandas is great!
2,2,Text data Handling in Python is useful,[Python],"[in, Python]",text data handling in python is useful
3,0,No text availale,No text availale,No text availale,no text availale

In [23]:
df2.sort_values(by = 'Text')  # sort the values alphabeticially in Text coloumn.

,index,Text,P_words,n_words,Normalized
0,0,"Hello, how are you?",[],[],"hello, how are you?"
3,0,No text availale,No text availale,No text availale,no text availale
1,1,Pandas is great!,[Pandas],[],pandas is great!
2,2,Text data Handling in Python is useful,[Python],"[in, Python]",text data handling in python is useful

In [26]:
df2['newnormalized']=df2['Normalized'].str.capitalize() #here .str is use to apply string methods to an entire Panda Series.
df2

,index,Text,P_words,n_words,Normalized,newnormalized
0,0,"Hello, how are you?",[],[],"hello, how are you?","Hello, how are you?"
1,1,Pandas is great!,[Pandas],[],pandas is great!,Pandas is great!
2,2,Text data Handling in Python is useful,[Python],"[in, Python]",text data handling in python is useful,Text data handling in python is useful
3,0,No text availale,No text availale,No text availale,no text availale,No text availale

In [27]:
# to split particular value in column.
df2['Text'][3].split()

['No', 'text', 'availale']

In [28]:
#if i want to split using some parameter
df2['Text'][2].split('H')

['Text data ', 'andling in Python is useful']

In [33]:
data10 = {'headline': ['Breaking: New discovery in science','Politics: Election result annnounced ','Technology: AI revolutionizing industries']}
df10=pd.DataFrame(data10)
df10

                                    headline
0         Breaking: New discovery in science
1      Politics: Election result annnounced
2  Technology: AI revolutionizing industries

In [41]:
print(df10['headline'][0].split(':')[0])

Breaking

In [44]:
df10['Cateogory'] = df10['headline'].str.split(':').str[0]
df10

                                    headline   Cateogory
0         Breaking: New discovery in science    Breaking
1      Politics: Election result annnounced     Politics
2  Technology: AI revolutionizing industries  Technology

In [46]:
Article = 'Pandas is a powerful library for data maipulation. Pandas provides easy-to-use data structures.'
Article

'Pandas is a powerful library for data maipulation. Pandas provides easy-to-use data structures.'

In [48]:
Words = Article.split()
Words

['Pandas',
 'is',
 'a',
 'powerful',
 'library',
 'for',
 'data',
 'maipulation.',
 'Pandas',
 'provides',
 'easy-to-use',
 'data',
 'structures.']

In [49]:
ds = pd.Series(Words)
ds

0           Pandas
1               is
2                a
3         powerful
4          library
5              for
6             data
7     maipulation.
8           Pandas
9         provides
10     easy-to-use
11            data
12     structures.
dtype: object

In [52]:
#find occurence of values in a series using value_counts function.
ds.value_counts()

Pandas          2
data            2
is              1
a               1
powerful        1
library         1
for             1
maipulation.    1
provides        1
easy-to-use     1
structures.     1
Name: count, dtype: int64

In [3]:
# imagine a customer reviews i want to do sentiment analysis on it. 
# first we have to import TextBlob(it is NLP(Natuarl language Processing) Library which will simplify text processig for you.)
reviews = [
    "The product is fantastic and worth the price.",
    "Okay product, but could be better.",
    "Terrible product, not recommended."
]
reviews

['The product is fantastic and worth the price.',
 'Okay product, but could be better.',
 'Terrible product, not recommended.']

In [ ]:
# sentiment is the emotion of human.
# we have to iterate the review of particuar customer and calculate sentiment of review using TextBlob
# TextBlob is use to calaculate polarity or sentiment polarity in which o/p comes to b/w range of values(-1,1)
# if o/p comes near to -1 then it means that it is negative sentiment. 0 or near to it refer to neutral similarly for 1 or near to it refer positive sentiment.

In [1]:
from textblob import TextBlob

In [5]:
sentiments = [TextBlob(review).sentiment.polarity for review in reviews]
sentiments

[0.35, 0.5, -1.0]