In [3]:
import numpy as np
import pandas as pd
# i have a high ferquency stock data 
np.random.seed(30)
date_rge = pd.date_range(start='2025-01-01', end='2025-01-02', freq = 'min')
stock_prices = pd.DataFrame({'Timestamp':date_rge,'Price':np.random.randint(50,150, len(date_rge))})
print(stock_prices)

               Timestamp  Price
0    2025-01-01 00:00:00     87
1    2025-01-01 00:01:00     87
2    2025-01-01 00:02:00     95
3    2025-01-01 00:03:00     95
4    2025-01-01 00:04:00     62
...                  ...    ...
1436 2025-01-01 23:56:00     86
1437 2025-01-01 23:57:00    110
1438 2025-01-01 23:58:00    101
1439 2025-01-01 23:59:00     85
1440 2025-01-02 00:00:00     68

[1441 rows x 2 columns]

In [4]:
stock_prices.set_index('Timestamp',inplace=True)

In [5]:
hourly_stock = stock_prices.resample('h').ohlc()
print(hourly_stock)

                    Price
                     open high low close
Timestamp
2025-01-01 00:00:00    87  145  52    76
2025-01-01 01:00:00   128  148  54   133
2025-01-01 02:00:00   148  149  50   131
2025-01-01 03:00:00    67  149  53    73
2025-01-01 04:00:00    91  149  55   134
2025-01-01 05:00:00    90  145  51   141
2025-01-01 06:00:00   144  147  51    64
2025-01-01 07:00:00   126  149  51   103
2025-01-01 08:00:00   114  149  51   118
2025-01-01 09:00:00    69  149  54    98
2025-01-01 10:00:00   132  148  50    94
2025-01-01 11:00:00   137  149  50   140
2025-01-01 12:00:00   110  149  52   113
2025-01-01 13:00:00    60  149  51    73
2025-01-01 14:00:00   127  149  51    91
2025-01-01 15:00:00    56  145  55    88
2025-01-01 16:00:00   149  149  51    65
2025-01-01 17:00:00   115  148  51   108
2025-01-01 18:00:00   148  149  54    57
2025-01-01 19:00:00   120  149  51   104
2025-01-01 20:00:00   123  148  53    77
2025-01-01 21:00:00   122  149  57   127
2025-01-01 22:00:00    64  146  50   130
2025-01-01 23:00:00    61  149  50    85
2025-01-02 00:00:00    68   68  68    68

In [6]:
# we have to analyse stock price analysis
import yfinance as yf   #  This imports the yfinance library, which allows you to download historical market data from Yahoo Finance.
stock_data = yf.download('AAPL', start = '2021-01-01', end = '2023-01-31') # yf.download(): A function used to download historical stock price data from Yahoo Finance, 'AAPL': This is the ticker symbol for Apple Inc. (Yahoo Finance uses ticker symbols to identify companies).
stock_data

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2021-01-04  126.544212  130.651200  123.952895  130.563197  143301900
2021-01-05  128.108795  128.822640  125.585927  126.035747   97664900
2021-01-06  123.796455  128.147915  123.581326  124.891656  155088000
2021-01-07  128.020752  128.715035  125.028519  125.517446  109578200
2021-01-08  129.125778  129.692936  127.346075  129.497353  105158200
...                ...         ...         ...         ...        ...
2023-01-24  141.046753  141.670202  138.839964  138.849854   66435100
2023-01-25  140.383713  140.947773  137.365450  139.423806   65799300
2023-01-26  142.461929  142.748905  140.423353  141.680142   54105100
2023-01-27  144.411362  145.697836  141.591029  141.670199   70555800
2023-01-30  141.511871  144.035338  141.363438  143.451481   64015300

[522 rows x 5 columns]

In [7]:
print(stock_data.columns)

MultiIndex([( 'Close', 'AAPL'),
            (  'High', 'AAPL'),
            (   'Low', 'AAPL'),
            (  'Open', 'AAPL'),
            ('Volume', 'AAPL')],
           names=['Price', 'Ticker'])

In [8]:
monthly_data = stock_data['Low'].resample('ME').min()
print(monthly_data)

Ticker            AAPL
Date
2021-01-31  123.581326
2021-02-28  115.941258
2021-03-31  113.806348
2021-04-30  119.956434
2021-05-31  119.924754
2021-06-30  120.788026
2021-07-31  133.177784
2021-08-31  141.963950
2021-09-30  138.790647
2021-10-31  135.843272
2021-11-30  145.103091
2021-12-31  155.256777
2022-01-31  152.206742
2022-02-28  149.740807
2022-03-31  147.869042
2022-04-30  153.070559
2022-05-31  130.830940
2022-06-30  127.308805
2022-07-31  133.840027
2022-08-31  155.247195
2022-09-30  136.337736
2022-10-31  132.751431
2022-11-30  132.981583
2022-12-31  124.560142
2023-01-31  122.877812

In [9]:
weekly_data = stock_data['High'].resample('W').mean()
print(weekly_data)

Ticker            AAPL
Date
2021-01-10  129.205945
2021-01-17  127.615947
2021-01-24  132.186432
2021-01-31  139.328701
2021-02-07  133.474346
...                ...
2023-01-08  128.058340
2023-01-15  132.083016
2023-01-22  136.111164
2023-01-29  142.578656
2023-02-05  144.035338

[109 rows x 1 columns]